
name: test-build-release
on: push
env:
  IMAGE_TAG: ${{ github.sha }}
  IMAGE: ${{ github.repository }}
jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Commit test
        uses: wagoid/commitlint-github-action@v1

      - name: Markdown test
        uses: actionshub/markdownlint@v1.0.0

      - name: Build Docker image
        run: |
          docker build -t ${IMAGE}:${IMAGE_TAG} .

  release:
    name: Create release
    needs: tests
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Bump version and push tag
        id: dump-version
        uses: mathieudutour/github-tag-action@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag and push Docker image
        run: |
          DOCKERHUB_USERNAME=`echo "${IMAGE}" | awk -F"/" '{print $1}'`
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u $DOCKERHUB_USERNAME --password-stdin
          # docker build
          docker build -t ${IMAGE}:${{ steps.dump-version.outputs.new_tag }} .
          # docker create latest tag
          docker tag ${IMAGE}:${{ steps.dump-version.outputs.new_tag }} ${IMAGE}:latest
          # docker push images
          docker push ${IMAGE}
